extends layout

block cont
  div.container
    h1="Welcome Here!"
    p="You are on Task Runner app!"
  div.container
    div#root
  div.container
    h2="PUG here!(for noscript in future!)"
    each val, index in title
      div.task-wrapper
        h5=val
        p=text[index]
        if id[index] != 0
          a(href="/del/"+id[index])  Delete
    div.task-wrapper
      form(method="post" action="/")#taskForm.sendform
        input(type="text" placeholder="Put some title here!" name="title")
        br
        textarea(placeholder="Put some text here here!" name="text")
        br
        button(type="submit")="Submit"
